html {
    box-sizing: border-box;
}

*, 
*::before,
*::after {
    box-sizing: inherit;
}

a{
    display: inline-block;
    text-decoration: none;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
    position: relative;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: $main;
    outline: none;
}

.container {
    max-width: 930px;   
    margin: 0 auto;
    padding: 0 15px;
}

.page-title{
    font-size: 22px;
    line-height: 26px;
    font-weight: 600;
    color: $dark;
}