$dark-gray: #6B6B6B;
$dark: #181818;
$dark-blue: #1D96D4;
$light-gray: #DEDEDE;
$dark-light: #323232;
$main: #2B2B2B;
$gray: #BCBCBC;
$light-blue: #EFF5FF;
$blue: #DCE8FF;
$blue-two: #E1F1F9;
$light-yellow: #FFF3C7; 
$yellow: #FED74B;
$orange: #F4BF00;;