@media (min-width: 360px) {
    //Specific session start
    /**   <!-- !!!!ONLY CSS TABS !!!! -->*/
    .specific-session {
        padding-top: 90px;
    }

    .specific-session__tabs {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        margin-top: 36px;
    }

    .specific-session__tabs label {
        order: 1;
        display: block;
        cursor: pointer;
        transition: background ease 0.2s;
    }

    .specific-session__tabs .tab {
        order: 99;
        flex-grow: 1;
        width: 100%;
        display: none;
        background: #fff;
        z-index: -4;
    }

    .specific-session__tabs input[type="radio"] {
        display: none;
    }

    .specific-session__tabs input[type="radio"]:checked + label {
        background: #fff;
    }

    .specific-session__tabs input[type="radio"]:checked + label + .tab {
        display: block;
    }
    
    .specific-session__btn-inner {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .specific-session__btn-item {
        padding: 8px 10px;
        text-align: center;
        min-width: 240px;
        box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.12);
        border-radius: 20px 20px 0px 0px;
        font-size: 30px;
        color: $dark;
        line-height: 19px;
        cursor: pointer;
        font-size: 14px;
        background-color: #fff;
    }

    .specific-session__btn-item1{
        z-index: 5;
    }

    .specific-session__btn-item2{
        position: absolute;
        left: 110px;
        top: 0;
        z-index: 4;
    }
    .specific-session__btn-item3{
        z-index: 5;
        top: 0;
        position: absolute;
        left: 220px;
    }

    .specific-session__btn-title {
        font-weight: 600;
    }
    .specific-session__btn-date {
        font-weight: 400;
        display: block;
    }
    .specific-session__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.15);
        padding: 30px 40px 40px 20px;
        border-radius: 0px 20px 20px 20px;
    }
    .specific-session__content-item {
        box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.12);
        padding: 84px 20px 40px 20px;
        max-width: 270px;
        border-radius: 16px;
        position: relative;
        min-width: 270px;
        max-height: 348px;
    }
    .specific-session__content-component {
        padding: 16px 20px;
        max-width: 225px;
        font-size: 14px;
        line-height: 16px;
        font-weight: 600;
        background-color: $blue;
        border-radius: 16px 0px 16px 0px;
        position: absolute;
        top: 0;
        left: 0;
        color: $dark;
    }
    .specific-session__content-top {
        padding-bottom: 36px;
        border-bottom: 1px solid $light-gray;
    }
    .specific-session__content-bottom {
        margin-top: 36px;
    }
    .specific-session__content-price {
        font-size: 22px;
        font-weight: 400;
        color: $dark;
    }
    .specific-session__content-text {
        margin-top: 12px;
        margin-bottom: 0;
        font-size: 14px;
        line-height: 19px;
        font-weight: 600;
        color: $dark;
    }
    // !!!!ONLY CSS TABS !!!!
    //Specific session end

    //Specific Other start
    .specific-other {
        padding-top: 40px;
    }
    .specific-other__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
    }
    .specific-other__item {
        background-image: url(../images/otherItemImg.jpeg);
        min-width: 246px;
        min-height: 160px;
        border-radius: 16px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    .specific-other__item1 {
        margin: 0 auto;
    }
    .specific-other__item-component {
        padding: 12px 14px;
        min-width: 157px;
        background-color: #dce8ff;
        border-radius: 13px 0px 15px 0px;
        position: absolute;
        left: 0px;
        top: 0px;
        font-size: 14px;
        line-height: 16px;
        font-weight: 600;
    }
    .specific-other__link {
        position: absolute;
        right: 22px;
        bottom: 10px;
        font-size: 14px;
        line-height: 19px;
        font-weight: 600;
        color: #fff;
        &:hover {
            color: #fff;
        }
        &::before {
            content: "";
            position: absolute;
            background-image: url(../images/speedboat-link-img.svg);
            width: 5px;
            height: 9px;
            bottom: 4px;
            right: -12px;
        }
    }
    //Specific other end
}

@media (min-width: 768px) {
    //Specific other start
    .specific-other {
        padding-top: 80px;
    }
    .specific-other__inner {
        justify-content: space-around;
        margin-top: 36px;
    }
    .specific-other__item {
        min-width: 344px;
        min-height: 230px;
    }
    .specific-other__item1 {
        margin: 0;
    }
    .specific-other__item-component {
        font-size: 16px;
        line-height: 21px;
    }
    //Specific other end
}

@media (min-width: 992px) {
    .specific-other__item {
        min-width: 450px;
        min-height: 300px;
    }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
