@media (min-width: 360px){

    //Transport slider start
    .speedboat-transport{
        padding-top: 50px;
    }
    .speedboat-transport__inner{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .speedboat-transport__item{
        width: 246px;
        // height: 259px;
        box-shadow: 0px 1.17886px 31.8293px rgba(0, 0, 0, 0.13);
        border-radius: 20px;
        padding: 12px;
    }
    .speedboat-transport__bg{
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), url(../images/otherItemImg.jpeg);
        width: 100%;
        height: 160px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 16px;
        position: relative;
    }
    .speedboat-transport__component{
        position: absolute;
        width: 148px;
        height: 42px;
        padding: 10px 20px;
        top: 10px;
        right: 10px;
        background-color: #FFF3C7;
        border-radius: 18px;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        color: $dark;
    }
    .speedboat-transport__text{
        margin: 12px 0px 8px;
        color: $main;
    }
    .speedboat-transport__text{
        font-size: 17px;
        font-weight: 400;
    }
    .speedboat-transport__item1{
        margin: 0 auto;
    }
    .speedboat-transport__item2,
    .speedboat-transport__item3{
        display: none;
    }
    
    //transport-slider end
}

@media (min-width: 768px){
    .speedboat-transport__inner{
        justify-content: space-around;
    }
    .speedboat-transport__item1{
        margin: 0;
    }
    .speedboat-transport__item2{
        display: block;
    }
}

//Transport-slider start


//Event start
.event{
    padding-top: 80px;
}
.event{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #323232;
    margin-top: 10px;
}
//Event end

//Routes start
.routes{
    padding-top: 80px;
}
.routes__inner{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.routes-slider__item{
    width: 290px;
    height: 330px;
    box-shadow: 0px 0.866635px 23.3991px rgba(0, 0, 0, 0.13);
    border-radius: 16px;
    padding: 15px;
    font-size: 16px;
    font-weight: 600;
}
.routes-slider__bg{
    background-image: url(../images/otherItemImg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    width: 100%;
    height: 260px;
    position: relative;
}
.routes-slider__component{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 100px;
    height: 38px;
    padding: 8px 11px;
    background-color: #D9E8FF;
    line-height: 22px;
    border-radius: 30px;
    color: #312D2D;
}
.routes-slider__text{
    line-height: 26px;
    margin-top: 15px;
}
//Routes end



//other start
.other{
    padding: 80px 0px 65px;
}
.other__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.other__item{
    background-image: url(../images/otherItemImg.jpeg);
    width: 290px;
    height: 200px;
    border-radius: 16px;
    margin-top: 36px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.other__item-component{
    padding: 10px 20px;
    width: 157px;
    height: 42px;
    background-color: #DCE8FF;
    border-top-left-radius: 15px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
}
//other end