@media (min-width: 360px) {
    //other start
    .speedboat-other,
    .specific-other {
        padding-top: 40px;
    }
    .speedboat-other__inner,
    .specific-other__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
    }
    .speedboat-other__item,
    .specific-other__item {
        background-image: url(../images/otherItemImg.jpeg);
        min-width: 246px;
        min-height: 160px;
        border-radius: 16px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    .speedboat-other__item1,
    .speedboat-other__item1{
        margin: 0 auto;
    }
    .speedboat-other__item2 {
        display: none;
    }
    .speedboat-other__item-component,
    .specific-other__item-component {
        padding: 12px 14px;
        min-width: 157px;
        background-color: #dce8ff;
        border-radius: 13px 0px 15px 0px;
        position: absolute;
        left: 0px;
        top: 0px;
        font-size: 14px;
        line-height: 16px;
        font-weight: 600;
    }
    .speedboat-other__link,
    .specific-other__link {
        position: absolute;
        right: 22px;
        bottom: 10px;
        font-size: 14px;
        line-height: 19px;
        font-weight: 600;
        color: #fff;
        &:hover {
            color: #fff;
        }
        &::before {
            content: "";
            position: absolute;
            background-image: url(../images/speedboat-link-img.svg);
            width: 5px;
            height: 9px;
            bottom: 4px;
            right: -12px;
        }
    }
    //other end
}

@media (min-width: 768px) {
    //Other start
    .speedboat-other,
    .specific-other {
        padding-top: 80px;
    }
    .speedboat-other__inner,
    .specific-other__inner {
        justify-content: space-around;
        margin-top: 36px;
    }
    .speedboat-other__item,
    .specific-other__item {
        min-width: 344px;
        min-height: 230px;
    }
    .speedboat-other__item1,
    .speedboat-other__item1 {
        margin: 0;
    }
    .speedboat-other__item2 {
        display: block;
    }
    .speedboat-other__item-component,
    .specific-other__item-component {
        font-size: 16px;
        line-height: 21px;
    }
    //Other end
}

@media (min-width: 992px) {
    //Other start
    .speedboat-other__item,
    .specific-other__item {
        min-width: 450px;
        min-height: 300px;
    }
    //Other end
}

//Event start
// .event{
//     padding-top: 80px;
// }
// .event{
//     font-size: 16px;
//     line-height: 24px;
//     font-weight: 400;
//     color: #323232;
//     margin-top: 10px;
// }
//Event end
