@media (min-width: 360px) {
    //other start
    .speedboat-other {
        padding-top: 40px;
    }
    .speedboat-other__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
    }
    .speedboat-other__item {
        background-image: linear-gradient( 180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%), url('../images/otherItemImg.jpeg');
        background-size: cover;
        background-position: center;
        min-width: 246px;
        min-height: 160px;
        border-radius: 16px;
        background-repeat: no-repeat;

        position: relative;
        cursor: pointer;
        &:hover {
            background-image: url('../images/otherItemImg.jpeg');
            transform: scale(1.04);
            transition: transform 0.25s;
            transition: 0.5s;
        }
    }
    .speedboat-other__item1 {
        margin: 0 auto;
    }
    .speedboat-other__item2 {
        display: none;
    }
    .speedboat-other__item-component {
        padding: 12px 14px;
        min-width: 157px;
        background-color: #dce8ff;
        border-radius: 13px 0px 15px 0px;
        position: absolute;
        left: 0px;
        top: 0px;
        font-size: 14px;
        line-height: 16px;
        font-weight: 600;
    }
    .speedboat-other__link {
        position: absolute;
        right: 22px;
        bottom: 10px;
        font-size: 14px;
        line-height: 19px;
        font-weight: 600;
        color: #fff;
        &:hover {
            color: #fff;
        }
        &::before {
            content: "";
            position: absolute;
            background-image: url(../images/speedboat-link-img.svg);
            width: 5px;
            height: 9px;
            bottom: 4px;
            right: -12px;
        }
    }
}

@media (min-width: 768px) {
    .speedboat-other {
        padding-top: 80px;
    }
    .speedboat-other__inner {
        justify-content: space-around;
        margin-top: 36px;
    }
    .speedboat-other__item {
        min-width: 344px;
        min-height: 230px;
    }
    .speedboat-other__item1 {
        margin: 0;
    }
    .speedboat-other__item2 {
        display: block;
    }
    .speedboat-other__item-component {
        font-size: 16px;
        line-height: 21px;
    }
}

@media (min-width: 992px) {
    .speedboat-other__item {
        min-width: 450px;
        min-height: 300px;
    }
}
