@media (min-width : 360px) { 
    .regata-slider {
        padding: 20px 0 30px 0;
        &__item {
            position: relative;
            background-image: url('../images/regata/piter.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 335px;
            height: 220px;
            margin: auto;
        }
    }

    .offers{
        padding-top: 60px;
    }
    .offers__title {
        text-align: left;
        color: black;
        &:hover {
            text-decoration: underline;
            color: $dark-blue;
        }
    }
    .offers__inner {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .offers__title {
        padding: 20px;
        font-weight: 600;
        line-height: 22px;
    }
    .offers__item {
        width: 335px;
        border-radius: 12px;
        border: 1px solid $light-gray;
        box-shadow: 0px 1px 27px rgba(0, 0, 0, 0.13);
        margin-bottom: 20px;
        margin-right: 20px;
    }
    .offers__list {
        padding: 0 20px;
        font-size: 15px;
        li {
            position: relative;
            padding-left: 35px;
            padding-bottom: 20px;
            &::before {
                position: absolute;
                content: url('../images/regata/yellow_arrow.svg');
                left: 0px;
                top: 2px;
            }
        }
    } 
    .offers__price {
        padding: 0 0 0 20px;
        font-weight: 400;
        font-size: 22px;
        &::after {
            content: url('../images/regata/ruble-currency-sign.png');
        }
    }
    .offers__star {
        padding: 0 0 40px 20px;
        font-size: 12px;
    }
    
}

@media (min-width : 768px) {
    .regata-slider {
        &__item {
            width: 485px;
            height: 310px;
            &::before {
                content: '';
                background-image: url('../images/regata/piter_blur.jpg');
                background-repeat: no-repeat;
                background-position: center;
                position: absolute;
                top: 45px;
                left: -107px;
                width: 335px;
                height: 220px;
                border-radius: 12px;
                z-index: -2;
            }
            &::after {
                content: '';
                background-image: url('../images/regata/piter_blur.jpg');
                background-repeat: no-repeat;
                background-position: center;
                border-radius: 12px;
                position: absolute;
                top: 45px;
                right: -107px;
                width: 335px;
                height: 220px;
                z-index: -2;
            }
        }
    }
}

@media (min-width : 992px)  {
    .regata-slider {
        &__item {
            width: 610px;
            height: 400px;
            &::before {
                width: 440px;
                height: 288px;
                top: 45px;
                left: -144px;
            }
            &::after {
                width: 440px;
                height: 288px;
                top: 45px;
                right: -144px;
            }
        }
    }
    .offers__title {
        padding-top: 40px;
    }
    .offers__inner {
        flex-wrap: nowrap;
    }
    .offers__item {
        width: 450px;
    }
    
}

@media (min-width: 1200px) {
    .offers__button {
        display: flex;
    }
    .offers__sideBar-btn {
        margin-top: 14px;
        background: #fed74b;
        border-radius: 33px;
        padding: 6px 13px;
        border: none;
        cursor: pointer;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        color: #2b2b2b;
        margin: 0 auto;
        
    }
}

@media (min-width : 1400px) {
    .offers__sideBar-btn {
        background: $yellow;
        padding: 13px 14px;
        border: none;
        cursor: pointer;
        font-size: 16px;
        line-height: 26px;
        color: $main;
        width: 157px;
        margin-bottom: 30px;
        &:hover {
            background: $orange;
            transition: 0.5s;
        }
    }
}





.offers__img {
    background-image: url('../images/wedding/wedding.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    width: 450px;
    height: 280px;
}