@media (min-width : 300px) { 
    .regata-slider {
        padding-top: 30px 0 0px 0;
        &__item {
            position: relative;
            background-image: url('../images/regata/piter.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 335px;
            height: 220px;
            margin: auto;
        }
    }
}

@media (min-width : 768px) {
    .regata-slider {
        &__item {
            width: 485px;
            height: 310px;
            &::before {
                content: '';
                background-image: url('../images/regata/piter_blur.jpg');
                background-repeat: no-repeat;
                background-position: center;
                position: absolute;
                top: 45px;
                left: -107px;
                width: 335px;
                height: 220px;
                border-radius: 12px;
                z-index: -2;
            }
            &::after {
                content: '';
                background-image: url('../images/regata/piter_blur.jpg');
                background-repeat: no-repeat;
                background-position: center;
                border-radius: 12px;
                position: absolute;
                top: 45px;
                right: -107px;
                width: 335px;
                height: 220px;
                z-index: -2;
            }
        }
    }
}

@media (min-width : 992px)  {
    .regata-slider {
        &__item {
            width: 610px;
            height: 400px;
            &::before {
                width: 440px;
                height: 288px;
                top: 45px;
                left: -144px;
            }
            &::after {
                width: 440px;
                height: 288px;
                top: 45px;
                right: -144px;
            }
        }
    } 
}

@media (min-width: 1200px) {
    
}

@media (min-width : 1400px) {
    .offers__sideBar-btn {
        background: $yellow;
        padding: 13px 14px;
        border: none;
        cursor: pointer;
        font-size: 16px;
        line-height: 26px;
        color: $main;
        width: 157px;
        margin-bottom: 30px;
        &:hover {
            background: $orange;
            transition: 0.5s;
        }
    }
}




/* Style the tab */

  
  
  











//   Sliders
  .swiper {
    width: 25%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }
