@media (min-width : 360px) {  
  // swiperTransport 
    .swiper-transport {
        height: 100%;
        width: 250px;
        // overflow: hidden;
        position: relative;
        padding-bottom: 50px !important;
    }
    .swiper-transport-pagination {
        display: none;
    }
    .swiper-transport-button-prev,
    .swiper-transport-button-next {
        display: none;
    }
    .swiper-transport-button-prev:after,
    .swiper-transport-button-next:after{
        content: '' !important;
    }
    // общее РАЗМЕРЫ БЛОКОВ - разбор!!! 
    .specific-transport__item1.swiper-slide,
    .specific-transport__item2.swiper-slide,
    .specific-transport__item3.swiper-slide {
        width: 222px !important;
    }

}

// РАЗБОР SWIPER
@media (min-width : 768px) { 
     //Swiper start
     .swiper-transport {
        height: 100%;
        width: 708px;
        overflow: hidden;
        position: relative;
        padding-bottom: 50px !important;
    }
   
    .specific-transport__item1.swiper-slide,
    .specific-transport__item2.swiper-slide,
    .specific-transport__item3.swiper-slide {
        width: 260px!important;
    }

   
    //Swiper send
}

@media (min-width : 992px)  {
  //SWIPER START
    .swiper-transport {
        height: 100%;
        width: 930px;
        overflow: hidden;
        position: relative;
        padding-bottom: 50px !important;
    }
    // .specific-transport__item1.swiper-slide,
    // .specific-transport__item2.swiper-slide,
    // .specific-transport__item3.swiper-slide {
    //     width: 260px!important;
    // }

    .swiper-transport-button-prev,
    .swiper-transport-button-next {
        display: block;
    }
    .swiper-pagination-bullet-active {
        background-color:  $dark-gray;                                                
    }
    .swiper-transport-button-prev {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 340px !important;
        left: 45% !important;
        background-image: url("../images/leftArr.svg") !important;
        background-repeat: no-repeat;
      }

      .swiper-transport-button-next {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 340px !important;
        left: 55% !important;
        background-image: url("../images/rightArr.svg") !important;
        background-repeat: no-repeat;
      }
      .swiper-transport-button-next.swiper-transport-button-disabled, .swiper-transport-button-prev.swiper-transport-button-disabled {
        opacity: .35;
        cursor: auto;
        pointer-events: none;
    }
    // .swiper-button-prev {
    //     background-image: url("../images/leftArr.svg") !important;
    //  }

    // .swiper-button-next {
    //     background-image: url("../images/rightArr.svg") !important;
    //  }


//SWIPER END  
}








// .accordion__heading
// .accordion {
//     max-width: 600px; margin: 0 auto;
//     border: 1px solid cornflowerblue;
//   }
  
//   .accordion__heading {
//     display: block; position: relative; cursor: pointer;
//     padding: 10px 15px; margin: 0;
//     background: cornflowerblue;color: white;
//   }
  
//   .accordion__heading:after, .accordion__heading:before {
//     content: ""; position: absolute;
//     width: 12px; height: 3px;
//     top: 50%; right: 20px;
//     background: white;
//     transition: all 0.9s;
//   }
  
//   .accordion__checkbox:checked~.accordion__heading:before {
//     transform: rotate(90deg);
//     opacity: 0;
//     transition: all 0.9s;
//   }
  
//   .accordion__heading:after {
//     transform: rotate(90deg);
//     transition: all 0.9s;
//   }
  
//   .accordion__checkbox:checked~.accordion__heading:after {
//     transform: rotate(180deg);
//   }
  
//   .accordion__checkbox {
//     display: none; position: absolute; left: -9999em;
//   }
  
//   .accordion__checkbox:checked~.accordion__content {
//     max-height: 1000px;
//     transition: all 9s;
//   }
  
//   .accordion__content {
//     max-height: 0; overflow: hidden; padding: 0 15px;
//     transition: all 0.9s;
//   }